@{
    ViewData["Title"] = "Create Joke";
}

<div class="text-center">
    <h1 class="display-4">Create Joke</h1>
    <p>Just kidding.</p>
    <form method="post">
        <fieldset>
            <input type="text" name="joke" placeholder="Enter joke here..." maxlength="500">
            <input type="submit" value="Submit" class="submit" />
        </fieldset>
    </form>
</div>
