@{
    ViewData["Title"] = "Home Page";
}

@model List<Joke>

<div class="text-center">
    <h1 class="display-4">Eskom is a Joke!</h1>
    <hr />
     @if (User.Identity.IsAuthenticated && !User.IsInRole("admin")){
    <div class="row mb-2 justify-content-end">
        <div class="col-4">
            <a class="btn btn-secondary w-100" asp-area="" asp-controller="Home" asp-action="CreateJoke">Add Joke</a>
        </div>
    </div>
     }
    @if(Model.Count > 0)
    {
        <div class="row">
            <div class="col-12 vh-100 overflow-auto border border-1">
                @foreach(var joke in Model)
                {
                    <div class="row my-2">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body text-wrap text-start">
                                    <i class=" text-capitalize">Creator: <b>@joke.Username</b></i>
                                    <p>@joke.Body</p>
                                    <div class="row text-end">
                                        <i class="text-sm-end text-muted">Time: @joke.TimeCreated</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    } else
    {
        <h4 class="display-6">No Jokes Found!</h4>
        @if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
        {
            <div class="row mb-2 justify-content-end">
                <div class="col-4">
                    <a class="btn btn-secondary w-100" asp-area="" asp-controller="Home" asp-action="CreateJoke">Add Joke</a>
                </div>
            </div>
        }
    }
</div>
