@{
    ViewData["Title"] = "Home Page";
}

@model List<Joke>

<div class="text-center">
    <h1 class="display-4">Eskom is a Joke!</h1>
    <hr />
    <div class="row mb-2 justify-content-end">
        <div class="col-4">
            <button type="button" class="btn btn-secondary w-100">Add Joke</button>
        </div>
    </div>
    @if(Model.Count > 0)
    {
        <div class="row">
            <div class="col-12 vh-100 overflow-auto border border-1">
                @foreach(var joke in Model)
                {
                    <div class="row my-2">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body text-wrap text-start text-capitalize">
                                    <i>Creator: <b>@joke.Username</b></i>
                                    <p>@joke.Body</p>
                                    <div class="row text-end">
                                        <i class="text-sm-end text-muted">Time: @joke.TimeCreated</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
    } else
    {
        <h4 class="display-6">No Jokes Found!</h4>
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="button" class="btn w-100">Add Joke</button>
            </div> 
        </div>
    }
</div>
