@{
    ViewData["Title"] = "Email verification";
}


<div class="text-center">
   <div class="container">
    <div class="error-text">
      <h2>Email verification required</h2>
        <br />
        <p class="">It seems that your email address has not been verified. We have sent you a verification email.</p>
            <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Resend verification email</a>
        </div>
    </div>
</div>

</div>
